name: ml_app
description: "A new Flutter project."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.4.0

dependencies:
  flutter:
    sdk: flutter
  image_picker: ^0.8.7+5
  http: ^1.6.0
  cupertino_icons: ^1.0.8
  carousel_slider: ^5.1.1
  flutter_launcher_icons: ^0.14.4
  shared_preferences: ^2.2.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/logo/mediscan_logo.png

flutter_icons:
  android: true
  ios: true
  image_path: "assets/logo/mediscan_logo.png"
